#!/usr/bin/env bash
test=(
    git-clean
    rvm-setup
    gem-cache-import
    bundle-install
    gem-cache-rebuild
    rspec
)

quality=(
    git-clean
    rvm-setup
    gem-cache-import
    bundle-install
    gem-cache-rebuild
    rubycritic
    security
)

package=(
    # git-clean must be called BEFORE this shell script, or else dhc won't
    # create the debian/changelog file and the build will have version 0.0
    rvm-setup
    gem-cache-import
    bundle-install-deployment
    gem-cache-rebuild
    debian-package
)
