#!/usr/bin/env bash
export CI=true

# Gitlab notification
export BUILD_FAILED=false
export GITLAB_ENDPOINT=https://code.locaweb.com.br/api/v3
# GITLAB_TOKEN='must be set up in the jenkins job configuration'

# Gem caching
export GEMFILE_MD5=$(md5sum $GIT_ROOT/Gemfile.lock | awk '{print $1}')
export GEM_CACHE_PATH=$GIT_ROOT/../cache
export GEM_MD5_PATH=$GEM_CACHE_PATH/$GEMFILE_MD5

# Test job
export COVERAGE=true
export RUN_WITH_VCR_OFF=false

# Quality Job
export BUNDLE_AUDIT_IGNORED_CVES="nothing"
